
.item-row{
	display: block;
	text-align: left;
	width: 80%;
	margin: auto;
}

form{
	padding-top: 5%;
}

#amount{
	padding-left: 5%;
}

#quantity-input{
	margin: 0% 2%;
}

.delete{
	font-size: 12px;
}

.page{
	width: 80%;
	margin: auto;
	padding: 5% 10%;
	text-align: center;
}
td{
	width: 40%;
}

table{
	width: 80%;
	margin: auto;
	text-align: left;
	align: center;
}

thead{
	font-size: 24px;
	padding-bottom: 2%;
	margin-bottom: 2%;
	border-bottom: solid black;

}

#submit{
	margin: 5% 2%;
	vertical-align:middle;
	display: inline;
}

input{
	vertical-align:middle;
	width: 25%;
}

/*Google map styling */

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
	margin: 2%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}
